In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
import math

In [14]:
f1 = open('./data/hotels/tokyo_hotels.json', "r")
data1 = json.loads(f1.read())
f1.close()

f2 = open('./data/hotels/london_hotels.json', "r")
data2 = json.loads(f2.read())
f2.close()

f3 = open('./data/hotels/singapore_hotels.json', "r")
data3 = json.loads(f3.read())
f3.close()

f4 = open('./data/hotels/new_york_hotels.json', "r")
data4 = json.loads(f4.read())
f4.close()

In [15]:
df = None


def add_city(json_data, city):
    global df
    df_new = pd.json_normalize(json_data)
    df_new['city'] = city
    if df is None:
        df = df_new
    else:
        df = df.append(df_new, ignore_index=True)
    return df

In [16]:
add_city(data1, 'Tokyo')
add_city(data2, 'London')
add_city(data3, 'Singapore')
add_city(data4, 'New York')

,hotel_name,rating,review_count,hotel_rank,amenities,languages,hotel_class,price,best_price_source,restraunts_nearby,attractions_nearby,good_for_walkers_out_of_100,top_cuisines,lat_long_link,best_features_as_per_reviews,restaurants,city
0,Daiwa Roynet Hotel Tokyo Ariake,4.0,81 reviews,#4 of 6 hotels in Ariake,"[Free High Speed Internet (WiFi), Wifi, Restau...","English, Japanese","[Trendy, Business]",None,None,94,6,94,"[Seafood, Contemporary, Fast food, Italian]","3-7-3, Ariake, Koto 135-0063 Tokyo Prefecture","[Location, Cleanliness, Service, Value]","[{'name': 'Akarie', 'cusines': [], 'reviews': ...",Tokyo
1,Hotel Metropolitan Tokyo Ikebukuro,4.0,"1,859 reviews",#4 of 67 hotels in Toshima,"[Paid private parking on-site, Free High Speed...","English, Chinese, Japanese","[Family, Quiet]",None,None,1705,82,98,"[Japanese, Japanese, Japanese, Japanese]","1-6-1 Nishiikebukuro, Toshima 171-8505 Tokyo P...","[Location, Cleanliness, Service, Value]",[{'name': 'Sakura Cafe & Restaurant Ikebukuro'...,Tokyo
2,ONSEN RYOKAN YUEN SHINJUKU,4.5,86 reviews,#19 of 107 hotels in Shinjuku,"[Free High Speed Internet (WiFi), Wifi, Hot ba...","English, Chinese, Japanese, Korean",[],7662,ZenHotels.com,817,79,98,"[Barbecue, Asian, Japanese, Cafe]","5-3-18 Shinjuku, Shinjuku 160-0022 Tokyo Prefe...","[Location, Cleanliness, Service, Value]","[{'name': 'Sakuratei', 'cusines': ['', 'Health...",Tokyo
3,Rembrandt Style Tokyo Nishikasai,4.0,461 reviews,#4 of 18 hotels in Edogawa,"[Paid private parking on-site, Free High Speed...","English, Chinese, Japanese, Nepali","[Modern, Business]",None,None,305,4,87,"[Mexican, Asian, Japanese]","6-17-9 Nishikasai, Edogawa 134-0088 Tokyo Pref...","[Location, Cleanliness, Service, Value]","[{'name': 'Fontaine', 'cusines': [], 'reviews'...",Tokyo
4,HOTEL UNIZO Ginza-nanachome,3.5,86 reviews,#27 of 36 hotels in Ginza,"[Free High Speed Internet (WiFi), Hot bath, Co...","English, Japanese","[Business, Centrally Located]",None,None,3098,375,100,"[Barbecue, Bar, Pub, Steakhouse]","7-10-9, Ginza, Chuo 104-0061 Tokyo Prefecture","[Location, Cleanliness, Service, Value]","[{'name': 'La Gioconda', 'cusines': ['', 'Cent...",Tokyo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4283,TBA Times Square,1.5,8 reviews,#175 of 290 Speciality lodging in New York City,"[Free High Speed Internet (WiFi), Wifi, Fitnes...",None,[],8643,Booking.com,469,151,100,"[American, Mexican, Italian, Asian]","340 W 40th St, New York City, NY 10018-1404","[Location, Service, Value]",NaN,New York
4284,Casa Cipriani New York,5.0,1 review,#444 of 531 hotels in New York City,"[Valet parking, Free internet, Rooftop pool, F...",None,[],59609,Agoda.com,142,39,100,"[Irish, American, American, American]","10 South St, New York City, NY 10004-1921","[Location, Cleanliness, Service]",NaN,New York
4285,Courtyard New York Downtown Manhattan / Financ...,2.5,7 reviews,#479 of 531 hotels in New York City,"[Paid public parking nearby, Free High Speed I...","English, Spanish, Chinese",[],8471,Expedia,401,66,100,"[Italian, Japanese, American, American]","215 Pearl St, New York City, NY 10038-4916","[Location, Cleanliness, Service, Value]",NaN,New York
4286,Best Western Premier Empire State Hotel,4.5,6 reviews,#43 of 290 Speciality lodging in New York City,[],None,[],8555,Expedia,544,103,100,"[Indian, American, American, Asian]","16 E 30th St, New York City, NY 10016-7002","[Location, Cleanliness, Service, Value]",NaN,New York
4287,Residence Inn New York Downtown Manhattan/fina...,3.0,4 reviews,#472 of 531 hotels in New York City,"[Valet parking, Free High Speed Internet (WiFi...","English, Spanish, Chinese",[],8732,Hotels.com,400,66,100,"[Italian, Japanese, American, American]","215 Pearl St, New York City, NY 10038-4916",[Service],NaN,New York

In [17]:
df.city.value_counts()

London       2247
Tokyo        1523
Singapore     259
New York      259
Name: city, dtype: int64

In [18]:
df = df.drop(['top_cuisines'], axis=1)

df.languages = df.languages.apply(lambda x: (str(x)).split(", "))

df.review_count = df.review_count.apply(lambda x: (str(x)).split()[0])

df.hotel_rank = df.hotel_rank.apply(lambda x: (str(x)).split()[0][1:])
df.head()

,hotel_name,rating,review_count,hotel_rank,amenities,languages,hotel_class,price,best_price_source,restraunts_nearby,attractions_nearby,good_for_walkers_out_of_100,lat_long_link,best_features_as_per_reviews,restaurants,city
0,Daiwa Roynet Hotel Tokyo Ariake,4.0,81,4,"[Free High Speed Internet (WiFi), Wifi, Restau...","[English, Japanese]","[Trendy, Business]",None,None,94,6,94,"3-7-3, Ariake, Koto 135-0063 Tokyo Prefecture","[Location, Cleanliness, Service, Value]","[{'name': 'Akarie', 'cusines': [], 'reviews': ...",Tokyo
1,Hotel Metropolitan Tokyo Ikebukuro,4.0,"1,859",4,"[Paid private parking on-site, Free High Speed...","[English, Chinese, Japanese]","[Family, Quiet]",None,None,1705,82,98,"1-6-1 Nishiikebukuro, Toshima 171-8505 Tokyo P...","[Location, Cleanliness, Service, Value]",[{'name': 'Sakura Cafe & Restaurant Ikebukuro'...,Tokyo
2,ONSEN RYOKAN YUEN SHINJUKU,4.5,86,19,"[Free High Speed Internet (WiFi), Wifi, Hot ba...","[English, Chinese, Japanese, Korean]",[],7662,ZenHotels.com,817,79,98,"5-3-18 Shinjuku, Shinjuku 160-0022 Tokyo Prefe...","[Location, Cleanliness, Service, Value]","[{'name': 'Sakuratei', 'cusines': ['', 'Health...",Tokyo
3,Rembrandt Style Tokyo Nishikasai,4.0,461,4,"[Paid private parking on-site, Free High Speed...","[English, Chinese, Japanese, Nepali]","[Modern, Business]",None,None,305,4,87,"6-17-9 Nishikasai, Edogawa 134-0088 Tokyo Pref...","[Location, Cleanliness, Service, Value]","[{'name': 'Fontaine', 'cusines': [], 'reviews'...",Tokyo
4,HOTEL UNIZO Ginza-nanachome,3.5,86,27,"[Free High Speed Internet (WiFi), Hot bath, Co...","[English, Japanese]","[Business, Centrally Located]",None,None,3098,375,100,"7-10-9, Ginza, Chuo 104-0061 Tokyo Prefecture","[Location, Cleanliness, Service, Value]","[{'name': 'La Gioconda', 'cusines': ['', 'Cent...",Tokyo

In [19]:
def group_cusines(restaurant_list):
    cuisines = {}
    if type(restaurant_list) == list:
        for restaurant in restaurant_list:
            for cuisine in restaurant['cusines']:
                cuisine = cuisine.replace(", ", "")
                cuisine = cuisine.replace(",", "")
                cuisine = cuisine.strip()
                if len(cuisine) > 2:
                    if cuisine in cuisines.keys():
                        cuisines[cuisine] += 1
                    else:
                        cuisines[cuisine] = 1
        # sorting in descending order
        sorted(cuisines.items(), key=lambda x: x[1], reverse=True)
    return cuisines


df['cuisines'] = df.restaurants.apply(group_cusines)
df.head()

,hotel_name,rating,review_count,hotel_rank,amenities,languages,hotel_class,price,best_price_source,restraunts_nearby,attractions_nearby,good_for_walkers_out_of_100,lat_long_link,best_features_as_per_reviews,restaurants,city,cuisines
0,Daiwa Roynet Hotel Tokyo Ariake,4.0,81,4,"[Free High Speed Internet (WiFi), Wifi, Restau...","[English, Japanese]","[Trendy, Business]",None,None,94,6,94,"3-7-3, Ariake, Koto 135-0063 Tokyo Prefecture","[Location, Cleanliness, Service, Value]","[{'name': 'Akarie', 'cusines': [], 'reviews': ...",Tokyo,"{'Dining bars': 1, 'Beer restaurants': 1}"
1,Hotel Metropolitan Tokyo Ikebukuro,4.0,"1,859",4,"[Paid private parking on-site, Free High Speed...","[English, Chinese, Japanese]","[Family, Quiet]",None,None,1705,82,98,"1-6-1 Nishiikebukuro, Toshima 171-8505 Tokyo P...","[Location, Cleanliness, Service, Value]",[{'name': 'Sakura Cafe & Restaurant Ikebukuro'...,Tokyo,"{'Cafe': 1, 'International': 1, 'BarPub': 1, '..."
2,ONSEN RYOKAN YUEN SHINJUKU,4.5,86,19,"[Free High Speed Internet (WiFi), Wifi, Hot ba...","[English, Chinese, Japanese, Korean]",[],7662,ZenHotels.com,817,79,98,"5-3-18 Shinjuku, Shinjuku 160-0022 Tokyo Prefe...","[Location, Cleanliness, Service, Value]","[{'name': 'Sakuratei', 'cusines': ['', 'Health...",Tokyo,"{'Healthy': 2, 'Asian': 2, 'Japanese': 4, 'Gri..."
3,Rembrandt Style Tokyo Nishikasai,4.0,461,4,"[Paid private parking on-site, Free High Speed...","[English, Chinese, Japanese, Nepali]","[Modern, Business]",None,None,305,4,87,"6-17-9 Nishikasai, Edogawa 134-0088 Tokyo Pref...","[Location, Cleanliness, Service, Value]","[{'name': 'Fontaine', 'cusines': [], 'reviews'...",Tokyo,"{'Pub': 1, 'Kyoto cuisine': 1}"
4,HOTEL UNIZO Ginza-nanachome,3.5,86,27,"[Free High Speed Internet (WiFi), Hot bath, Co...","[English, Japanese]","[Business, Centrally Located]",None,None,3098,375,100,"7-10-9, Ginza, Chuo 104-0061 Tokyo Prefecture","[Location, Cleanliness, Service, Value]","[{'name': 'La Gioconda', 'cusines': ['', 'Cent...",Tokyo,"{'Central-Italian': 1, 'Italian': 1, 'Tuscan':..."

In [20]:
def restaurant_names(restaurant_list):
    restaurants = []
    if type(restaurant_list) == list:
        for restaurant in restaurant_list:
            restaurants.append(restaurant['name'])
    return restaurants


df['restaurant_names'] = df.restaurants.apply(restaurant_names)
df = df.drop(['restaurants'], axis=1)
df.head()

,hotel_name,rating,review_count,hotel_rank,amenities,languages,hotel_class,price,best_price_source,restraunts_nearby,attractions_nearby,good_for_walkers_out_of_100,lat_long_link,best_features_as_per_reviews,city,cuisines,restaurant_names
0,Daiwa Roynet Hotel Tokyo Ariake,4.0,81,4,"[Free High Speed Internet (WiFi), Wifi, Restau...","[English, Japanese]","[Trendy, Business]",None,None,94,6,94,"3-7-3, Ariake, Koto 135-0063 Tokyo Prefecture","[Location, Cleanliness, Service, Value]",Tokyo,"{'Dining bars': 1, 'Beer restaurants': 1}","[Akarie, The Roof, Hibiya Matsumotoro Tokyo Bi..."
1,Hotel Metropolitan Tokyo Ikebukuro,4.0,"1,859",4,"[Paid private parking on-site, Free High Speed...","[English, Chinese, Japanese]","[Family, Quiet]",None,None,1705,82,98,"1-6-1 Nishiikebukuro, Toshima 171-8505 Tokyo P...","[Location, Cleanliness, Service, Value]",Tokyo,"{'Cafe': 1, 'International': 1, 'BarPub': 1, '...","[Sakura Cafe & Restaurant Ikebukuro, Cross Din..."
2,ONSEN RYOKAN YUEN SHINJUKU,4.5,86,19,"[Free High Speed Internet (WiFi), Wifi, Hot ba...","[English, Chinese, Japanese, Korean]",[],7662,ZenHotels.com,817,79,98,"5-3-18 Shinjuku, Shinjuku 160-0022 Tokyo Prefe...","[Location, Cleanliness, Service, Value]",Tokyo,"{'Healthy': 2, 'Asian': 2, 'Japanese': 4, 'Gri...","[Sakuratei, Kakatojo, Encounter by Unplan, Pha..."
3,Rembrandt Style Tokyo Nishikasai,4.0,461,4,"[Paid private parking on-site, Free High Speed...","[English, Chinese, Japanese, Nepali]","[Modern, Business]",None,None,305,4,87,"6-17-9 Nishikasai, Edogawa 134-0088 Tokyo Pref...","[Location, Cleanliness, Service, Value]",Tokyo,"{'Pub': 1, 'Kyoto cuisine': 1}","[Fontaine, Cafe Dining Palm Tree, Uttori, Koso..."
4,HOTEL UNIZO Ginza-nanachome,3.5,86,27,"[Free High Speed Internet (WiFi), Hot bath, Co...","[English, Japanese]","[Business, Centrally Located]",None,None,3098,375,100,"7-10-9, Ginza, Chuo 104-0061 Tokyo Prefecture","[Location, Cleanliness, Service, Value]",Tokyo,"{'Central-Italian': 1, 'Italian': 1, 'Tuscan':...","[La Gioconda, Tempura Yasuda, Ginza M's Cafe, ..."

In [21]:
def isfloat(num):
    if num is None or num is np.nan:
        return False
    try:
        float(num)
        return True
    except ValueError:
        return False


def isint(num):
    if num is None or num is np.nan:
        return False
    try:
        int(num)
        return True
    except ValueError:
        return False

In [22]:
df.rating = df.rating.apply(lambda x: float(x) if isfloat(x) else np.nan)
df.review_count = df.review_count.apply(lambda x: int(x) if isint(x) else np.nan)
df.hotel_rank = df.hotel_rank.apply(lambda x: int(x) if isint(x) else np.nan)
df.price = df.price.apply(lambda x: float(x) if isfloat(x) else np.nan)
df.restraunts_nearby = df.restraunts_nearby.apply(lambda x: int(x) if isint(x) else np.nan)
df.attractions_nearby = df.attractions_nearby.apply(lambda x: int(x) if isint(x) else np.nan)
df.good_for_walkers_out_of_100 = df.good_for_walkers_out_of_100.apply(lambda x: int(x) if isint(x) else np.nan)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4288 entries, 0 to 4287
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   hotel_name                    4288 non-null   object
 1   rating                        1671 non-null   float64
 2   review_count                  1666 non-null   float64
 3   hotel_rank                    1566 non-null   float64
 4   amenities                     4288 non-null   object
 5   languages                     4288 non-null   object
 6   hotel_class                   4288 non-null   object
 7   price                         231 non-null    float64
 8   best_price_source             231 non-null    object
 9   restraunts_nearby             3800 non-null   float64
 10  attractions_nearby            3800 non-null   float64
 11  good_for_walkers_out_of_100   3800 non-null   float64
 12  lat_long_link                 3932 non-null   object
 13  best_features_as_per_reviews  4288 non-null   object
 14  city                          4288 non-null   object
 15  cuisines                      4288 non-null   object
 16  restaurant_names              4288 non-null   object
dtypes: float64(7), object(10)
memory usage: 569.6+ KB

In [23]:
df.head()

,hotel_name,rating,review_count,hotel_rank,amenities,languages,hotel_class,price,best_price_source,restraunts_nearby,attractions_nearby,good_for_walkers_out_of_100,lat_long_link,best_features_as_per_reviews,city,cuisines,restaurant_names
0,Daiwa Roynet Hotel Tokyo Ariake,4.0,81.0,4.0,"[Free High Speed Internet (WiFi), Wifi, Restau...","[English, Japanese]","[Trendy, Business]",NaN,None,94.0,6.0,94.0,"3-7-3, Ariake, Koto 135-0063 Tokyo Prefecture","[Location, Cleanliness, Service, Value]",Tokyo,"{'Dining bars': 1, 'Beer restaurants': 1}","[Akarie, The Roof, Hibiya Matsumotoro Tokyo Bi..."
1,Hotel Metropolitan Tokyo Ikebukuro,4.0,NaN,4.0,"[Paid private parking on-site, Free High Speed...","[English, Chinese, Japanese]","[Family, Quiet]",NaN,None,1705.0,82.0,98.0,"1-6-1 Nishiikebukuro, Toshima 171-8505 Tokyo P...","[Location, Cleanliness, Service, Value]",Tokyo,"{'Cafe': 1, 'International': 1, 'BarPub': 1, '...","[Sakura Cafe & Restaurant Ikebukuro, Cross Din..."
2,ONSEN RYOKAN YUEN SHINJUKU,4.5,86.0,19.0,"[Free High Speed Internet (WiFi), Wifi, Hot ba...","[English, Chinese, Japanese, Korean]",[],7662.0,ZenHotels.com,817.0,79.0,98.0,"5-3-18 Shinjuku, Shinjuku 160-0022 Tokyo Prefe...","[Location, Cleanliness, Service, Value]",Tokyo,"{'Healthy': 2, 'Asian': 2, 'Japanese': 4, 'Gri...","[Sakuratei, Kakatojo, Encounter by Unplan, Pha..."
3,Rembrandt Style Tokyo Nishikasai,4.0,461.0,4.0,"[Paid private parking on-site, Free High Speed...","[English, Chinese, Japanese, Nepali]","[Modern, Business]",NaN,None,305.0,4.0,87.0,"6-17-9 Nishikasai, Edogawa 134-0088 Tokyo Pref...","[Location, Cleanliness, Service, Value]",Tokyo,"{'Pub': 1, 'Kyoto cuisine': 1}","[Fontaine, Cafe Dining Palm Tree, Uttori, Koso..."
4,HOTEL UNIZO Ginza-nanachome,3.5,86.0,27.0,"[Free High Speed Internet (WiFi), Hot bath, Co...","[English, Japanese]","[Business, Centrally Located]",NaN,None,3098.0,375.0,100.0,"7-10-9, Ginza, Chuo 104-0061 Tokyo Prefecture","[Location, Cleanliness, Service, Value]",Tokyo,"{'Central-Italian': 1, 'Italian': 1, 'Tuscan':...","[La Gioconda, Tempura Yasuda, Ginza M's Cafe, ..."

In [24]:
# filters
def set_amenity_filter(dFrame, amenity_list):
    mask = dFrame.amenities.apply(lambda x: any(item for item in amenity_list if item in x))
    return dFrame[mask]


def set_language_filter(dFrame, language_list):
    mask = dFrame.languages.apply(lambda x: any(item for item in language_list if item in x))
    return dFrame[mask]


def set_class_filter(dFrame, class_list):
    mask = dFrame.hotel_class.apply(lambda x: any(item for item in class_list if item in x))
    return dFrame[mask]


def set_cuisine_filter(dFrame, cuisine_list):
    mask = dFrame.cuisines.apply(lambda x: any(item for item in cuisine_list if item in x.keys()))
    return dFrame[mask]


def set_rating_filter(dFrame, min_rating):
    return dFrame[dFrame.rating >= min_rating]


def set_review_filter(dFrame, min_reviews):
    return dFrame[dFrame.review_count >= min_reviews]


def set_rank_filter(dFrame, max_rank):
    return dFrame[dFrame.hotel_rank <= max_rank]


def set_price_filter(dFrame, max_price):
    return dFrame[dFrame.price <= max_price]


def set_restraunts_nearby_filter(dFrame, min_restraunts_nearby):
    return dFrame[dFrame.restraunts_nearby >= min_restraunts_nearby]


def set_attractions_nearby_filter(dFrame, min_attractions_nearby):
    return dFrame[dFrame.attractions_nearby >= min_attractions_nearby]


def set_good_for_walkers_out_of_100_filter(dFrame, min_good_for_walkers_out_of_100):
    return dFrame[dFrame.good_for_walkers_out_of_100 <= min_good_for_walkers_out_of_100]


def set_city_filter(dFrame, cities):
    return dFrame[dFrame.city.isin(cities)]

In [25]:
# sorting df
def sort_df(dFrame):
    result = dFrame.sort_values(by=['price'],ascending=True)
    result = result.sort_values(by=['hotel_rank'],ascending=True)
    result = result.sort_values(by=['rating'],ascending=False)
    return result

In [26]:
sort_df(df)

,hotel_name,rating,review_count,hotel_rank,amenities,languages,hotel_class,price,best_price_source,restraunts_nearby,attractions_nearby,good_for_walkers_out_of_100,lat_long_link,best_features_as_per_reviews,city,cuisines,restaurant_names
3734,Crashpads Shoreditch the Club Row Collection,5.0,2.0,332.0,[],[None],[],NaN,None,336.0,91.0,100.0,"9A Club Row, London E1 6JX England",[],London,{},[]
4213,My City House,5.0,1.0,83.0,[],[None],[],NaN,None,579.0,181.0,100.0,"West 47th & 9th Ave, New York City, NY 10036",[],New York,{},[]
46,Guest House En,5.0,9.0,45.0,"[Free High Speed Internet (WiFi), Bar / lounge...",[None],[],NaN,None,800.0,145.0,100.0,"1-3-3 Hanakawado, Taito 111-0033 Tokyo Prefecture",[],Tokyo,{},[]
1620,48 Roger Apartment,5.0,1.0,445.0,[],[None],[],NaN,None,74.0,16.0,80.0,"Flat 48 Rogers Estate Globe Road, London E2 0J...","[Location, Service, Value]",London,{},[]
79,Dormy Inn Ikebukuro,5.0,4.0,44.0,[],[None],[],NaN,None,721.0,61.0,95.0,"3-11-1 Higashiikebukuro, Toshima 171-0014 Toky...",[],Tokyo,{},[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4252,My Favorite Place B&B,NaN,NaN,NaN,[],[None],[],NaN,None,84.0,3.0,92.0,"East 116TH Street, New York City, NY 10026",[],New York,{},[]
4253,Madison Avenue Luxury Apartments Next To Times...,NaN,NaN,NaN,[],[None],[],NaN,None,551.0,89.0,100.0,"New York City, NY 10016",[],New York,{},[]
4255,Idyllic New York Apt.,NaN,NaN,NaN,[],[None],[],NaN,None,140.0,7.0,62.0,"50-44 47 St 2nd Floor, New York City, NY 11377...",[],New York,{},[]
4256,Soho Garden Hotel,NaN,NaN,NaN,[],[None],[],NaN,None,421.0,131.0,100.0,"416 Broadway, New York City, NY 10013",[],New York,{},[]
4271,The Lodging New York,NaN,NaN,NaN,[],[None],[],NaN,None,318.0,50.0,100.0,"West 52nd St, New York City, NY 10019",[],New York,{},[]

In [27]:
# get filter data
def get_all_amenities(dFrame):
    amenities = {}
    for index, row in dFrame.iterrows():
        for amenity in row['amenities']:
            if amenity in amenities.keys():
                amenities[amenity] += 1
            else:
                amenities[amenity] = 1
    return amenities

def get_all_languages(dFrame):
    languages = {}
    for index, row in dFrame.iterrows():
        for language in row['languages']:
            if language is not None and language != 'None':
                if language in languages:
                    languages[language] += 1
                else:
                    languages[language] = 1
    # sorting in descending order
    languages = sorted(languages.items(), key=lambda x: x[1], reverse=True)
    return languages

def get_all_classes(dFrame):
    classes = {}
    for index, row in dFrame.iterrows():
        for hotel_class in row['hotel_class']:
            if hotel_class in classes:
                classes[hotel_class] += 1
            else:
                classes[hotel_class] = 1
    # sorting in descending order
    classes = sorted(classes.items(), key=lambda x: x[1], reverse=True)
    return classes

def get_all_cuisines(dFrame):
    cuisines = {}
    for index, row in dFrame.iterrows():
        for cuisine, count in row['cuisines'].items():
            if cuisine in cuisines.keys():
                cuisines[cuisine] +=1
            else:
                cuisines[cuisine] =1
    # sorting in descending order
    cuisines = sorted(cuisines.items(), key=lambda x: x[1], reverse=True)
    return cuisines

def get_all_restaurants(dFrame):
    restaurants = {}
    for index, row in dFrame.iterrows():
        for restaurant in row['restaurant_names']:
            if restaurant in restaurants:
                restaurants[restaurant] +=1
            else:
                restaurants[restaurant] = 1
    # sorting in descending order
    restaurants = sorted(restaurants.items(), key=lambda x: x[1], reverse=True)
    return restaurants

In [28]:
int(df.attractions_nearby.mean())

40

In [29]:
sort_df(df)

,hotel_name,rating,review_count,hotel_rank,amenities,languages,hotel_class,price,best_price_source,restraunts_nearby,attractions_nearby,good_for_walkers_out_of_100,lat_long_link,best_features_as_per_reviews,city,cuisines,restaurant_names
3734,Crashpads Shoreditch the Club Row Collection,5.0,2.0,332.0,[],[None],[],NaN,None,336.0,91.0,100.0,"9A Club Row, London E1 6JX England",[],London,{},[]
4213,My City House,5.0,1.0,83.0,[],[None],[],NaN,None,579.0,181.0,100.0,"West 47th & 9th Ave, New York City, NY 10036",[],New York,{},[]
46,Guest House En,5.0,9.0,45.0,"[Free High Speed Internet (WiFi), Bar / lounge...",[None],[],NaN,None,800.0,145.0,100.0,"1-3-3 Hanakawado, Taito 111-0033 Tokyo Prefecture",[],Tokyo,{},[]
1620,48 Roger Apartment,5.0,1.0,445.0,[],[None],[],NaN,None,74.0,16.0,80.0,"Flat 48 Rogers Estate Globe Road, London E2 0J...","[Location, Service, Value]",London,{},[]
79,Dormy Inn Ikebukuro,5.0,4.0,44.0,[],[None],[],NaN,None,721.0,61.0,95.0,"3-11-1 Higashiikebukuro, Toshima 171-0014 Toky...",[],Tokyo,{},[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4252,My Favorite Place B&B,NaN,NaN,NaN,[],[None],[],NaN,None,84.0,3.0,92.0,"East 116TH Street, New York City, NY 10026",[],New York,{},[]
4253,Madison Avenue Luxury Apartments Next To Times...,NaN,NaN,NaN,[],[None],[],NaN,None,551.0,89.0,100.0,"New York City, NY 10016",[],New York,{},[]
4255,Idyllic New York Apt.,NaN,NaN,NaN,[],[None],[],NaN,None,140.0,7.0,62.0,"50-44 47 St 2nd Floor, New York City, NY 11377...",[],New York,{},[]
4256,Soho Garden Hotel,NaN,NaN,NaN,[],[None],[],NaN,None,421.0,131.0,100.0,"416 Broadway, New York City, NY 10013",[],New York,{},[]
4271,The Lodging New York,NaN,NaN,NaN,[],[None],[],NaN,None,318.0,50.0,100.0,"West 52nd St, New York City, NY 10019",[],New York,{},[]

In [30]:
new_df = df.filter(['hotel_name', 'rating', 'price', 'review_count' ,'hotel_rank'], axis=1)
new_df['review_count'] = new_df['review_count'].replace(np.nan, 0)
new_df['hotel_rank'] = new_df['hotel_rank'].replace(np.nan, 0)
new_df['price'] = new_df['price'].replace(np.nan, 0)
new_df['review_count'] = new_df['review_count'].astype(dtype=int,errors ='ignore')
new_df['hotel_rank'] = new_df['hotel_rank'].astype(dtype=int, errors='ignore')
new_df.head()

,hotel_name,rating,price,review_count,hotel_rank
0,Daiwa Roynet Hotel Tokyo Ariake,4.0,0.0,81,4
1,Hotel Metropolitan Tokyo Ikebukuro,4.0,0.0,0,4
2,ONSEN RYOKAN YUEN SHINJUKU,4.5,7662.0,86,19
3,Rembrandt Style Tokyo Nishikasai,4.0,0.0,461,4
4,HOTEL UNIZO Ginza-nanachome,3.5,0.0,86,27

In [35]:
get_all_classes(df)

[('Budget', 65),
 ('Business', 36),
 ('Modern', 14),
 ('Family', 12),
 ('Quiet', 10),
 ('Centrally Located', 7),
 ('Mid-range', 7),
 ('Quaint', 6),
 ('Trendy', 3),
 ('Luxury', 1),
 ('Value', 1),
 ('Hidden Gem', 1),
 ('River View', 1),
 ('Great View', 1)]

In [32]:
get_all_languages(df)

[('English', 429),
 ('Japanese', 245),
 ('Chinese', 106),
 ('Spanish', 75),
 ('French', 50),
 ('Korean', 36),
 ('Russian', 23),
 ('Italian', 23),
 ('German', 16),
 ('Malay', 13),
 ('Portuguese', 12),
 ('Hindi', 10),
 ('Indonesian', 9),
 ('Polish', 7),
 ('Filipino', 6),
 ('Thai', 6),
 ('Romanian', 5),
 ('Bulgarian', 5),
 ('Arabic', 4),
 ('Danish', 4),
 ('Urdu', 4),
 ('Turkish', 3),
 ('Dutch', 3),
 ('Norwegian', 3),
 ('Lithuanian', 3),
 ('Tamil', 3),
 ('Nepali', 2),
 ('Greek', 2),
 ('Ukrainian', 2),
 ('Croatian', 2),
 ('Czech', 2),
 ('Latvian', 2),
 ('Burmese', 1),
 ('Vietnamese', 1),
 ('Farsi', 1),
 ('Slovenian', 1),
 ('Swahili', 1),
 ('Hungarian', 1),
 ('Swedish', 1),
 ('Estonian', 1),
 ('Catalan', 1)]

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4288 entries, 0 to 4287
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   hotel_name                    4288 non-null   object
 1   rating                        1671 non-null   float64
 2   review_count                  1666 non-null   float64
 3   hotel_rank                    1566 non-null   float64
 4   amenities                     4288 non-null   object
 5   languages                     4288 non-null   object
 6   hotel_class                   4288 non-null   object
 7   price                         231 non-null    float64
 8   best_price_source             231 non-null    object
 9   restraunts_nearby             3800 non-null   float64
 10  attractions_nearby            3800 non-null   float64
 11  good_for_walkers_out_of_100   3800 non-null   float64
 12  lat_long_link                 3932 non-null   object
 13  best_features_as_per_reviews  4288 non-null   object
 14  city                          4288 non-null   object
 15  cuisines                      4288 non-null   object
 16  restaurant_names              4288 non-null   object
dtypes: float64(7), object(10)
memory usage: 569.6+ KB

In [37]:
'''
add_city(data1, 'Tokyo')
add_city(data2, 'London')
add_city(data3, 'Singapore')
add_city(data4, 'New York')
'''
location_df = pd.read_csv('./data/tokyo_data.csv')
temp_df = pd.read_csv('./data/london_data.csv')
location_df = location_df.append(temp_df,ignore_index=True)

temp_df = pd.read_csv('./data/singapore_data.csv')
location_df = location_df.append(temp_df,ignore_index=True)

temp_df = pd.read_csv('./data/new_york_data.csv')
location_df = location_df.append(temp_df,ignore_index=True)

In [40]:
df['lat'] = location_df['lat']
df['lon'] = location_df['lon']

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4288 entries, 0 to 4287
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   hotel_name                    4288 non-null   object
 1   rating                        1671 non-null   float64
 2   review_count                  1666 non-null   float64
 3   hotel_rank                    1566 non-null   float64
 4   amenities                     4288 non-null   object
 5   languages                     4288 non-null   object
 6   hotel_class                   4288 non-null   object
 7   price                         231 non-null    float64
 8   best_price_source             231 non-null    object
 9   restraunts_nearby             3800 non-null   float64
 10  attractions_nearby            3800 non-null   float64
 11  good_for_walkers_out_of_100   3800 non-null   float64
 12  lat_long_link                 3932 non-null   object
 13  best_features_as_per_reviews  4288 non-null   object
 14  city                          4288 non-null   object
 15  cuisines                      4288 non-null   object
 16  restaurant_names              4288 non-null   object
 17  lat                           2199 non-null   float64
 18  lon                           2199 non-null   float64
dtypes: float64(9), object(10)
memory usage: 636.6+ KB

In [46]:
df.to_csv('data.csv',header=True, index=False)

In [49]:
new_df = pd.read_csv('./data/data.csv')
new_df.head()

,hotel_name,rating,review_count,hotel_rank,amenities,languages,hotel_class,price,best_price_source,restraunts_nearby,attractions_nearby,good_for_walkers_out_of_100,lat_long_link,best_features_as_per_reviews,city,cuisines,restaurant_names,lat,lon
0,Daiwa Roynet Hotel Tokyo Ariake,4.0,81.0,4.0,"['Free High Speed Internet (WiFi)', 'Wifi', 'R...","['English', 'Japanese']","['Trendy', 'Business']",NaN,NaN,94.0,6.0,94.0,"3-7-3, Ariake, Koto 135-0063 Tokyo Prefecture","['Location', 'Cleanliness', 'Service', 'Value']",Tokyo,"{'Dining bars': 1, 'Beer restaurants': 1}","['Akarie', 'The Roof', 'Hibiya Matsumotoro Tok...",NaN,NaN
1,Hotel Metropolitan Tokyo Ikebukuro,4.0,NaN,4.0,"['Paid private parking on-site', 'Free High Sp...","['English', 'Chinese', 'Japanese']","['Family', 'Quiet']",NaN,NaN,1705.0,82.0,98.0,"1-6-1 Nishiikebukuro, Toshima 171-8505 Tokyo P...","['Location', 'Cleanliness', 'Service', 'Value']",Tokyo,"{'Cafe': 1, 'International': 1, 'BarPub': 1, '...","['Sakura Cafe & Restaurant Ikebukuro', 'Cross ...",NaN,NaN
2,ONSEN RYOKAN YUEN SHINJUKU,4.5,86.0,19.0,"['Free High Speed Internet (WiFi)', 'Wifi', 'H...","['English', 'Chinese', 'Japanese', 'Korean']",[],7662.0,ZenHotels.com,817.0,79.0,98.0,"5-3-18 Shinjuku, Shinjuku 160-0022 Tokyo Prefe...","['Location', 'Cleanliness', 'Service', 'Value']",Tokyo,"{'Healthy': 2, 'Asian': 2, 'Japanese': 4, 'Gri...","['Sakuratei', 'Kakatojo', 'Encounter by Unplan...",NaN,NaN
3,Rembrandt Style Tokyo Nishikasai,4.0,461.0,4.0,"['Paid private parking on-site', 'Free High Sp...","['English', 'Chinese', 'Japanese', 'Nepali']","['Modern', 'Business']",NaN,NaN,305.0,4.0,87.0,"6-17-9 Nishikasai, Edogawa 134-0088 Tokyo Pref...","['Location', 'Cleanliness', 'Service', 'Value']",Tokyo,"{'Pub': 1, 'Kyoto cuisine': 1}","['Fontaine', 'Cafe Dining Palm Tree', 'Uttori'...",NaN,NaN
4,HOTEL UNIZO Ginza-nanachome,3.5,86.0,27.0,"['Free High Speed Internet (WiFi)', 'Hot bath'...","['English', 'Japanese']","['Business', 'Centrally Located']",NaN,NaN,3098.0,375.0,100.0,"7-10-9, Ginza, Chuo 104-0061 Tokyo Prefecture","['Location', 'Cleanliness', 'Service', 'Value']",Tokyo,"{'Central-Italian': 1, 'Italian': 1, 'Tuscan':...","['La Gioconda', 'Tempura Yasuda', ""Ginza M's C...",NaN,NaN

In [61]:
str(new_df.amenities[0])

'"'