In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
import math
from hotel import Hotel, Restaurant, HotelList

In [34]:
f1 = open('./data/tokyo_hotels.json', "r")
data1 = json.loads(f1.read())
f1.close()

f2 = open('./data/london_hotels.json', "r")
data2 = json.loads(f2.read())
f2.close()

f3 = open('./data/singapore_hotels.json', "r")
data3 = json.loads(f3.read())
f3.close()

In [35]:
df = None


def add_city(json_data, city):
    global df
    df_new = pd.json_normalize(json_data)
    df_new['city'] = city
    if df is None:
        df = df_new
    else:
        df = df.append(df_new, ignore_index=True)
    return df

In [36]:
add_city(data1, 'Tokyo')
add_city(data2, 'London')
add_city(data3, 'Singapore')

,hotel_name,rating,review_count,hotel_rank,amenities,languages,reviews,hotel_class,price,best_price_source,restraunts_nearby,attractions_nearby,good_for_walkers_out_of_100,top_cuisines,restaurants,city
0,Hotel Mystays Kameido,3.5,267 reviews,#1 of 3 hotels in Kameido,"[Parking, Free High Speed Internet (WiFi), Hot...","English, Japanese","[Share, , Worst hotel never had such a terrib...",[Budget],None,None,324,9,82,"[Japanese, Italian, Cafe]","[{'name': 'Yozen', 'cusines': ['', 'Mongolian'...",Tokyo
1,Zenriren Yoyogino Yado,4.0,28 reviews,#1 of 3 B&Bs / Inns in Yoyogi,"[Hot bath, Shuttle bus service]",Japanese,"[Share, , This hotel is rather hard to find. ...",[],None,None,490,24,100,"[Japanese, Japanese, Japanese, Bar]","[{'name': 'Sakuratei', 'cusines': ['', 'Japane...",Tokyo
2,Tokyo Bay Ariake Washington Hotel,3.5,682 reviews,#3 of 6 hotels in Ariake,"[Paid public parking on-site, Free High Speed ...","English, Japanese","[Share, , I stayed at the Tokyo Bay Ariake Wa...",[Family],None,None,86,6,96,"[Seafood, Cafe, Contemporary, Fast food]","[{'name': 'Georgetown', 'cusines': [], 'review...",Tokyo
3,THE BLOSSOM HIBIYA,4.0,31 reviews,#8 of 19 hotels in Shimbashi,"[Free High Speed Internet (WiFi), Fitness Cent...","English, Chinese, Japanese, Korean","[Share, , Cons: No microwave in rooms even at...",[],7282,ZenHotels.com,3429,209,100,"[Barbecue, Bar, Pub, Japanese]","[{'name': 'Masaya Shimbashi Store', 'cusines':...",Tokyo
4,Nippon Seinenkan Hotel,4.5,169 reviews,#4 of 107 hotels in Shinjuku,"[Paid public parking on-site, Free High Speed ...","English, Japanese","[Share, , definitely recommend this hotel. gr...","[Family, Modern]",None,None,222,33,96,"[American, French, Japanese, Italian]","[{'name': 'Goo ITALIANO', 'cusines': [], 'revi...",Tokyo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4009,Wink Capsule Hostel @ Downtown,5.0,5 reviews,#132 of 372 Speciality lodging in Singapore,"[Electric vehicle charging station, Street par...",None,"[Share, , free wifi, Chinatown, Chinatown, co...",[],None,None,840,96,100,"[Steakhouse, French, French, Japanese]",NaN,Singapore
4010,Snooze Inn Dickson Road,3.0,7 reviews,#227 of 372 Speciality lodging in Singapore,"[Free High Speed Internet (WiFi), Free breakfa...",None,"[Share, , Hi everyone, this is my experience....",[],None,None,300,48,100,"[Indian, Asian, Cafe, Indian]",NaN,Singapore
4011,La Mode Sophia Hotel Singapore,3.0,3 reviews,#33 of 95 B&Bs / Inns in Singapore,"[Free public parking nearby, Free High Speed I...","English, Chinese, Indonesian, Malay","[Share, , free parking, free wifi, near the a...",[Budget],None,None,58,5,50,"[French, Italian, Cafe, Singaporean]",NaN,Singapore
4012,Hotel NuVe Stellar,3.0,1 review,#281 of 369 hotels in Singapore,"[Free parking, Parking, Free High Speed Intern...","English, Chinese, Filipino, Malay","[Share, , free wifi was included, Little Indi...",[],None,None,324,23,100,"[Indian, Seafood, Indian, Chinese]",NaN,Singapore
4013,Gallop Hill Top Resort,4.0,3 reviews,#22 of 95 B&Bs / Inns in Singapore,[],None,"[Share, , free WIFI, orchard road, fast & fre...",[],None,None,60,9,67,"[American, Steakhouse, Seafood, Italian]",NaN,Singapore

In [37]:
df.city.value_counts()

London       2245
Tokyo        1514
Singapore     255
Name: city, dtype: int64

In [38]:
df = df.drop(['reviews', 'top_cuisines'], axis=1)

df.languages = df.languages.apply(lambda x: (str(x)).split(", "))

df.review_count = df.review_count.apply(lambda x: (str(x)).split()[0])

df.hotel_rank = df.hotel_rank.apply(lambda x: (str(x)).split()[0][1:])
df.head()

,hotel_name,rating,review_count,hotel_rank,amenities,languages,hotel_class,price,best_price_source,restraunts_nearby,attractions_nearby,good_for_walkers_out_of_100,restaurants,city
0,Hotel Mystays Kameido,3.5,267,1,"[Parking, Free High Speed Internet (WiFi), Hot...","[English, Japanese]",[Budget],None,None,324,9,82,"[{'name': 'Yozen', 'cusines': ['', 'Mongolian'...",Tokyo
1,Zenriren Yoyogino Yado,4.0,28,1,"[Hot bath, Shuttle bus service]",[Japanese],[],None,None,490,24,100,"[{'name': 'Sakuratei', 'cusines': ['', 'Japane...",Tokyo
2,Tokyo Bay Ariake Washington Hotel,3.5,682,3,"[Paid public parking on-site, Free High Speed ...","[English, Japanese]",[Family],None,None,86,6,96,"[{'name': 'Georgetown', 'cusines': [], 'review...",Tokyo
3,THE BLOSSOM HIBIYA,4.0,31,8,"[Free High Speed Internet (WiFi), Fitness Cent...","[English, Chinese, Japanese, Korean]",[],7282,ZenHotels.com,3429,209,100,"[{'name': 'Masaya Shimbashi Store', 'cusines':...",Tokyo
4,Nippon Seinenkan Hotel,4.5,169,4,"[Paid public parking on-site, Free High Speed ...","[English, Japanese]","[Family, Modern]",None,None,222,33,96,"[{'name': 'Goo ITALIANO', 'cusines': [], 'revi...",Tokyo

In [39]:
def group_cusines(restaurant_list):
    cuisines = {}
    if type(restaurant_list) == list:
        for restaurant in restaurant_list:
            for cuisine in restaurant['cusines']:
                cuisine = cuisine.replace(", ", "")
                cuisine = cuisine.replace(",", "")
                cuisine = cuisine.strip()
                if len(cuisine) > 2:
                    if cuisine in cuisines.keys():
                        cuisines[cuisine] += 1
                    else:
                        cuisines[cuisine] = 1
        # sorting in descending order
        sorted(cuisines.items(), key=lambda x: x[1], reverse=True)
    return cuisines


df['cuisines'] = df.restaurants.apply(group_cusines)
df.head()

,hotel_name,rating,review_count,hotel_rank,amenities,languages,hotel_class,price,best_price_source,restraunts_nearby,attractions_nearby,good_for_walkers_out_of_100,restaurants,city,cuisines
0,Hotel Mystays Kameido,3.5,267,1,"[Parking, Free High Speed Internet (WiFi), Hot...","[English, Japanese]",[Budget],None,None,324,9,82,"[{'name': 'Yozen', 'cusines': ['', 'Mongolian'...",Tokyo,"{'Mongolian': 1, 'Japanese Fusion': 1, 'Asian'..."
1,Zenriren Yoyogino Yado,4.0,28,1,"[Hot bath, Shuttle bus service]",[Japanese],[],None,None,490,24,100,"[{'name': 'Sakuratei', 'cusines': ['', 'Japane...",Tokyo,"{'Japanese': 3, 'Grill': 1, 'Asian': 2, 'Healt..."
2,Tokyo Bay Ariake Washington Hotel,3.5,682,3,"[Paid public parking on-site, Free High Speed ...","[English, Japanese]",[Family],None,None,86,6,96,"[{'name': 'Georgetown', 'cusines': [], 'review...",Tokyo,"{'Dining bars': 2, 'Contemporary': 1}"
3,THE BLOSSOM HIBIYA,4.0,31,8,"[Free High Speed Internet (WiFi), Fitness Cent...","[English, Chinese, Japanese, Korean]",[],7282,ZenHotels.com,3429,209,100,"[{'name': 'Masaya Shimbashi Store', 'cusines':...",Tokyo,"{'Japanese Fusion': 1, 'Dining bars': 2, 'Japa..."
4,Nippon Seinenkan Hotel,4.5,169,4,"[Paid public parking on-site, Free High Speed ...","[English, Japanese]","[Family, Modern]",None,None,222,33,96,"[{'name': 'Goo ITALIANO', 'cusines': [], 'revi...",Tokyo,"{'Asian': 4, 'Indian': 1, 'Japanese': 4, 'Gril..."

In [40]:
def restaurant_names(restaurant_list):
    restaurants = []
    if type(restaurant_list) == list:
        for restaurant in restaurant_list:
            restaurants.append(restaurant['name'])
    return restaurants


df['restaurant_names'] = df.restaurants.apply(restaurant_names)
df = df.drop(['restaurants'], axis=1)
df.head()

,hotel_name,rating,review_count,hotel_rank,amenities,languages,hotel_class,price,best_price_source,restraunts_nearby,attractions_nearby,good_for_walkers_out_of_100,city,cuisines,restaurant_names
0,Hotel Mystays Kameido,3.5,267,1,"[Parking, Free High Speed Internet (WiFi), Hot...","[English, Japanese]",[Budget],None,None,324,9,82,Tokyo,"{'Mongolian': 1, 'Japanese Fusion': 1, 'Asian'...","[Yozen, Yumcha Tavern Hongkongtei Kameido, Mus..."
1,Zenriren Yoyogino Yado,4.0,28,1,"[Hot bath, Shuttle bus service]",[Japanese],[],None,None,490,24,100,Tokyo,"{'Japanese': 3, 'Grill': 1, 'Asian': 2, 'Healt...","[Sakuratei, Street Pasta Company, Cafe Nook, Y..."
2,Tokyo Bay Ariake Washington Hotel,3.5,682,3,"[Paid public parking on-site, Free High Speed ...","[English, Japanese]",[Family],None,None,86,6,96,Tokyo,"{'Dining bars': 2, 'Contemporary': 1}","[Georgetown, Seafood Restaurant Mexico, Tokyo ..."
3,THE BLOSSOM HIBIYA,4.0,31,8,"[Free High Speed Internet (WiFi), Fitness Cent...","[English, Chinese, Japanese, Korean]",[],7282,ZenHotels.com,3429,209,100,Tokyo,"{'Japanese Fusion': 1, 'Dining bars': 2, 'Japa...","[Masaya Shimbashi Store, Sotoroku, Daisan Haru..."
4,Nippon Seinenkan Hotel,4.5,169,4,"[Paid public parking on-site, Free High Speed ...","[English, Japanese]","[Family, Modern]",None,None,222,33,96,Tokyo,"{'Asian': 4, 'Indian': 1, 'Japanese': 4, 'Gril...","[Goo ITALIANO, Stadium Cafe, East Wind, Isomiy..."

In [41]:
def isfloat(num):
    if num is None or num is np.nan:
        return False
    try:
        float(num)
        return True
    except ValueError:
        return False


def isint(num):
    if num is None or num is np.nan:
        return False
    try:
        int(num)
        return True
    except ValueError:
        return False

In [42]:
df.rating = df.rating.apply(lambda x: float(x) if isfloat(x) else np.nan)
df.review_count = df.review_count.apply(lambda x: int(x) if isint(x) else np.nan)
df.hotel_rank = df.hotel_rank.apply(lambda x: int(x) if isint(x) else np.nan)
df.price = df.price.apply(lambda x: float(x) if isfloat(x) else np.nan)
df.restraunts_nearby = df.restraunts_nearby.apply(lambda x: int(x) if isint(x) else np.nan)
df.attractions_nearby = df.attractions_nearby.apply(lambda x: int(x) if isint(x) else np.nan)
df.good_for_walkers_out_of_100 = df.good_for_walkers_out_of_100.apply(lambda x: int(x) if isint(x) else np.nan)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4014 entries, 0 to 4013
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   hotel_name                   4014 non-null   object
 1   rating                       1557 non-null   float64
 2   review_count                 1550 non-null   float64
 3   hotel_rank                   1455 non-null   float64
 4   amenities                    4014 non-null   object
 5   languages                    4014 non-null   object
 6   hotel_class                  4014 non-null   object
 7   price                        55 non-null     float64
 8   best_price_source            55 non-null     object
 9   restraunts_nearby            3575 non-null   float64
 10  attractions_nearby           3575 non-null   float64
 11  good_for_walkers_out_of_100  3575 non-null   float64
 12  city                         4014 non-null   object
 13  cuisines                     4014 non-null   object
 14  restaurant_names             4014 non-null   object
dtypes: float64(7), object(8)
memory usage: 470.5+ KB

In [43]:
df.head()

,hotel_name,rating,review_count,hotel_rank,amenities,languages,hotel_class,price,best_price_source,restraunts_nearby,attractions_nearby,good_for_walkers_out_of_100,city,cuisines,restaurant_names
0,Hotel Mystays Kameido,3.5,267.0,1.0,"[Parking, Free High Speed Internet (WiFi), Hot...","[English, Japanese]",[Budget],NaN,None,324.0,9.0,82.0,Tokyo,"{'Mongolian': 1, 'Japanese Fusion': 1, 'Asian'...","[Yozen, Yumcha Tavern Hongkongtei Kameido, Mus..."
1,Zenriren Yoyogino Yado,4.0,28.0,1.0,"[Hot bath, Shuttle bus service]",[Japanese],[],NaN,None,490.0,24.0,100.0,Tokyo,"{'Japanese': 3, 'Grill': 1, 'Asian': 2, 'Healt...","[Sakuratei, Street Pasta Company, Cafe Nook, Y..."
2,Tokyo Bay Ariake Washington Hotel,3.5,682.0,3.0,"[Paid public parking on-site, Free High Speed ...","[English, Japanese]",[Family],NaN,None,86.0,6.0,96.0,Tokyo,"{'Dining bars': 2, 'Contemporary': 1}","[Georgetown, Seafood Restaurant Mexico, Tokyo ..."
3,THE BLOSSOM HIBIYA,4.0,31.0,8.0,"[Free High Speed Internet (WiFi), Fitness Cent...","[English, Chinese, Japanese, Korean]",[],7282.0,ZenHotels.com,3429.0,209.0,100.0,Tokyo,"{'Japanese Fusion': 1, 'Dining bars': 2, 'Japa...","[Masaya Shimbashi Store, Sotoroku, Daisan Haru..."
4,Nippon Seinenkan Hotel,4.5,169.0,4.0,"[Paid public parking on-site, Free High Speed ...","[English, Japanese]","[Family, Modern]",NaN,None,222.0,33.0,96.0,Tokyo,"{'Asian': 4, 'Indian': 1, 'Japanese': 4, 'Gril...","[Goo ITALIANO, Stadium Cafe, East Wind, Isomiy..."

In [44]:
# filters
def set_amenity_filter(dFrame, amenity_list):
    mask = dFrame.amenities.apply(lambda x: any(item for item in amenity_list if item in x))
    return dFrame[mask]


def set_language_filter(dFrame, language_list):
    mask = dFrame.languages.apply(lambda x: any(item for item in language_list if item in x))
    return dFrame[mask]


def set_class_filter(dFrame, class_list):
    mask = dFrame.hotel_class.apply(lambda x: any(item for item in class_list if item in x))
    return dFrame[mask]


def set_cuisine_filter(dFrame, cuisine_list):
    mask = dFrame.cuisines.apply(lambda x: any(item for item in cuisine_list if item in x.keys()))
    return dFrame[mask]


def set_rating_filter(dFrame, min_rating):
    return dFrame[dFrame.rating >= min_rating]


def set_review_filter(dFrame, min_reviews):
    return dFrame[dFrame.review_count >= min_reviews]


def set_rank_filter(dFrame, max_rank):
    return dFrame[dFrame.hotel_rank <= max_rank]


def set_price_filter(dFrame, max_price):
    return dFrame[dFrame.price <= max_price]


def set_restraunts_nearby_filter(dFrame, min_restraunts_nearby):
    return dFrame[dFrame.restraunts_nearby >= min_restraunts_nearby]


def set_attractions_nearby_filter(dFrame, min_attractions_nearby):
    return dFrame[dFrame.attractions_nearby >= min_attractions_nearby]


def set_good_for_walkers_out_of_100_filter(dFrame, min_good_for_walkers_out_of_100):
    return dFrame[dFrame.good_for_walkers_out_of_100 <= min_good_for_walkers_out_of_100]


def set_city_filter(dFrame, cities):
    return dFrame[dFrame.city.isin(cities)]

In [45]:
# sorting df
def sort_df(dFrame):
    result = dFrame.sort_values(by=['price'],ascending=True)
    result = result.sort_values(by=['hotel_rank'],ascending=True)
    result = result.sort_values(by=['rating'],ascending=False)
    return result

In [46]:
sort_df(df)

,hotel_name,rating,review_count,hotel_rank,amenities,languages,hotel_class,price,best_price_source,restraunts_nearby,attractions_nearby,good_for_walkers_out_of_100,city,cuisines,restaurant_names
3677,Oyo Home Docklands 2 Bedroom Apartment,5.0,1.0,864.0,[Kitchenette],[None],[],NaN,None,78.0,33.0,84.0,London,{},[]
1566,London Property Apartment,5.0,1.0,385.0,[],[None],[],NaN,None,165.0,26.0,100.0,London,{},[]
1378,From Scratch Tokyo,5.0,1.0,7.0,"[Bar / lounge, Baggage storage, Non-smoking ho...","[English, Japanese]",[],NaN,None,114.0,15.0,74.0,Tokyo,{},[]
1577,The Marylebone Suites,5.0,1.0,380.0,[],[None],[],NaN,None,93.0,19.0,100.0,London,{},[]
1571,Central London Apartment - Great Location,5.0,1.0,381.0,[],[None],[],NaN,None,525.0,112.0,100.0,London,{},[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4003,K Space Inn 14,NaN,NaN,NaN,[],[None],[],NaN,None,662.0,108.0,100.0,Singapore,{},[]
4004,Shipping Container Hotel,NaN,NaN,NaN,[],[None],[],NaN,None,77.0,2.0,75.0,Singapore,{},[]
4005,ZEN Rooms People's Park Complex,NaN,NaN,NaN,[],[None],[],NaN,None,651.0,105.0,100.0,Singapore,{},[]
4006,Rest House,NaN,NaN,NaN,"[Free public parking nearby, Street parking, F...","[English, Chinese]",[],NaN,None,101.0,6.0,63.0,Singapore,{},[]
4007,HG Kampung Glamping,NaN,NaN,NaN,[],[None],[],NaN,None,11.0,5.0,53.0,Singapore,{},[]

In [51]:
# get filter data
def get_all_amenities(dFrame):
    amenities = {}
    for index, row in dFrame.iterrows():
        for amenity in row['amenities']:
            if amenity in amenities.keys():
                amenities[amenity] += 1
            else:
                amenities[amenity] = 1
    return amenities

def get_all_languages(dFrame):
    languages = {}
    for index, row in dFrame.iterrows():
        for language in row['languages']:
            if language is not None and language != 'None':
                if language in languages:
                    languages[language] += 1
                else:
                    languages[language] = 1
    # sorting in descending order
    languages = sorted(languages.items(), key=lambda x: x[1], reverse=True)
    return languages

def get_all_classes(dFrame):
    classes = {}
    for index, row in dFrame.iterrows():
        for hotel_class in row['hotel_class']:
            if hotel_class in classes:
                classes[hotel_class] += 1
            else:
                classes[hotel_class] = 1
    # sorting in descending order
    classes = sorted(classes.items(), key=lambda x: x[1], reverse=True)
    return classes

def get_all_cuisines(dFrame):
    cuisines = {}
    for index, row in dFrame.iterrows():
        for cuisine, count in row['cuisines'].items():
            if cuisine in cuisines.keys():
                cuisines[cuisine] +=1
            else:
                cuisines[cuisine] =1
    # sorting in descending order
    cuisines = sorted(cuisines.items(), key=lambda x: x[1], reverse=True)
    return cuisines

def get_all_restaurants(dFrame):
    restaurants = {}
    for index, row in dFrame.iterrows():
        for restaurant in row['restaurant_names']:
            if restaurant in restaurants:
                restaurants[restaurant] +=1
            else:
                restaurants[restaurant] = 1
    # sorting in descending order
    restaurants = sorted(restaurants.items(), key=lambda x: x[1], reverse=True)
    return restaurants

In [56]:
int(df.attractions_nearby.mean())

38

In [57]:
sort_df(df)

,hotel_name,rating,review_count,hotel_rank,amenities,languages,hotel_class,price,best_price_source,restraunts_nearby,attractions_nearby,good_for_walkers_out_of_100,city,cuisines,restaurant_names
3677,Oyo Home Docklands 2 Bedroom Apartment,5.0,1.0,864.0,[Kitchenette],[None],[],NaN,None,78.0,33.0,84.0,London,{},[]
1566,London Property Apartment,5.0,1.0,385.0,[],[None],[],NaN,None,165.0,26.0,100.0,London,{},[]
1378,From Scratch Tokyo,5.0,1.0,7.0,"[Bar / lounge, Baggage storage, Non-smoking ho...","[English, Japanese]",[],NaN,None,114.0,15.0,74.0,Tokyo,{},[]
1577,The Marylebone Suites,5.0,1.0,380.0,[],[None],[],NaN,None,93.0,19.0,100.0,London,{},[]
1571,Central London Apartment - Great Location,5.0,1.0,381.0,[],[None],[],NaN,None,525.0,112.0,100.0,London,{},[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4003,K Space Inn 14,NaN,NaN,NaN,[],[None],[],NaN,None,662.0,108.0,100.0,Singapore,{},[]
4004,Shipping Container Hotel,NaN,NaN,NaN,[],[None],[],NaN,None,77.0,2.0,75.0,Singapore,{},[]
4005,ZEN Rooms People's Park Complex,NaN,NaN,NaN,[],[None],[],NaN,None,651.0,105.0,100.0,Singapore,{},[]
4006,Rest House,NaN,NaN,NaN,"[Free public parking nearby, Street parking, F...","[English, Chinese]",[],NaN,None,101.0,6.0,63.0,Singapore,{},[]
4007,HG Kampung Glamping,NaN,NaN,NaN,[],[None],[],NaN,None,11.0,5.0,53.0,Singapore,{},[]

In [74]:
new_df = df.filter(['hotel_name', 'rating', 'price', 'review_count' ,'hotel_rank'], axis=1)
new_df['review_count'] = new_df['review_count'].replace(np.nan, 0)
new_df['hotel_rank'] = new_df['hotel_rank'].replace(np.nan, 0)
new_df['price'] = new_df['price'].replace(np.nan, 0)
new_df['review_count'] = new_df['review_count'].astype(dtype=int,errors ='ignore')
new_df['hotel_rank'] = new_df['hotel_rank'].astype(dtype=int, errors='ignore')
new_df.head()

                          hotel_name  rating   price  review_count  hotel_rank
0              Hotel Mystays Kameido     3.5     0.0           267           1
1             Zenriren Yoyogino Yado     4.0     0.0            28           1
2  Tokyo Bay Ariake Washington Hotel     3.5     0.0           682           3
3                 THE BLOSSOM HIBIYA     4.0  7282.0            31           8
4             Nippon Seinenkan Hotel     4.5     0.0           169           4

In [76]:
get_all_cuisines(df)

[('Japanese', 51),
 ('Asian', 44),
 ('Pub', 44),
 ('Bar', 41),
 ('Grill', 38),
 ('Seafood', 33),
 ('Japanese Fusion', 32),
 ('Healthy', 29),
 ('Barbecue', 29),
 ('Dining bars', 28),
 ('BarPub', 27),
 ('Italian', 25),
 ('Cafe', 21),
 ('Central-Italian', 18),
 ('Sushi', 18),
 ('Brew Pub', 18),
 ('Tuscan', 17),
 ('Medicinal foods', 16),
 ('Spanish', 16),
 ('Diner', 16),
 ('Chinese', 15),
 ('Indian', 15),
 ('Kappo', 15),
 ('International', 15),
 ('Wine Bar', 13),
 ('Steakhouse', 10),
 ('European', 9),
 ('Kaiseki', 9),
 ('Mediterranean', 8),
 ('South American', 7),
 ('Japanese sweets parlour', 7),
 ('Soups', 7),
 ('Fusion', 6),
 ('British', 6),
 ('BarPubDining bars', 5),
 ('Thai', 5),
 ('Latin', 5),
 ('Portuguese', 5),
 ('French', 5),
 ('Beijing cuisine', 4),
 ('Brew PubPub', 4),
 ('PubGastropub', 4),
 ('Indonesian', 4),
 ('Pizza', 4),
 ('Contemporary', 3),
 ('Beer restaurants', 3),
 ('Bangladeshi', 3),
 ('Brazilian', 3),
 ('Singaporean', 3),
 ('KaisekiJapanese Fusion', 3),
 ('Nepalese', 3),
 ('PubBar', 3),
 ('Neapolitan', 3),
 ('Middle Eastern', 3),
 ('African', 3),
 ('Mongolian', 2),
 ('Gastropub', 2),
 ('Peruvian', 2),
 ('PubBeer restaurants', 2),
 ('Brew PubPubDining barsBeer restaurants', 2),
 ('Brew PubPubBeer restaurants', 2),
 ('KaisekiKappo', 2),
 ('PubWine Bar', 2),
 ('Egyptian', 2),
 ('Fast food', 2),
 ('Caribbean', 2),
 ('Sri Lankan', 2),
 ('Lebanese', 2),
 ('GrillPubHokkaido cuisine', 1),
 ('BarPubBrew Pub', 1),
 ('Southern-Italian', 1),
 ('Brew PubBar', 1),
 ('Kyushu cuisine', 1),
 ('PubKaiseki', 1),
 ('BarWine Bar', 1),
 ('GastropubDining bars', 1),
 ('DinerJapanese Fusion', 1),
 ('GrillKyushu cuisine', 1),
 ('Beer restaurantsBarPub', 1),
 ('PubGastropubDining bars', 1),
 ('GrillWine BarDining bars', 1),
 ('PubJapanese Fusion', 1),
 ('Brew PubGrillJapanese Fusion', 1),
 ('GrillWine Bar', 1),
 ('GrillDining bars', 1),
 ('GrillContemporary', 1),
 ('GrillPub', 1),
 ('Swiss', 1),
 ('Southwestern', 1),
 ('KaisekiShojin', 1),
 ('BarDining bars', 1),
 ('BarPubWine Bar', 1),
 ('American', 1),
 ('PubGrill', 1),
 ('Central European', 1),
 ('Central AsianUzbek', 1),
 ('Israeli', 1),
 ('DinerBalti', 1),
 ('BarGrill', 1),
 ('Greek', 1),
 ('Belgian', 1),
 ('Balti', 1),
 ('Street Food', 1),
 ('BaltiBangladeshi', 1),
 ('Arabic', 1),
 ('GrillSingaporean', 1)]